<h2 id="maint-header">New Maintenance Record</h2>
<div class='maintenance'>
  <%= render 'form' %>
</div>
<div class="back-link">
  <button>
    <%= link_to 'Back', vehicles_path %>
  </button>
</div>

