 <h4>Credits</h4>

 <ul class="credits">Special Thanks To:
 	<li>WDI Instructor: Jesse Shawl</li>
 	<li>WDI Instructor: Mikael Davis</li>
 	<li>WDI Instructor: Sean Shannon</li>
 	<li>Program Producer: Jon Rojas</li>
 	<li>Gem: Devise</li>
 	<li>Gem: HTTParty</li>
 </ul>

