<span><%= image_tag("http://i.imgur.com/iA922hO.jpg") %></span>
<h2>About Application</h2>
<p class="future">I created this site to be able to help vehicle owners keep track of their maintenace records for their vehicle.<br /> We hope it will help the owner appreciate their vehicle a little more and take better care of it.<br /></p>

<h2>Future Add On</h2>
<ul class="future">
	<li>Be able to have options in a drop down menu to select from when choosing models, trim and engine size</li>
	<li>Have a sperate view for each user account. Untill now Sharing is Caring</li>
	<li>User will be able to view open recalls for their vehicle</li>
	<li>User will receieve email reminders when certain maintenances are due</li>
	<li>User will be able to keep track of spending amount on their vehicle's maintenance</li>
</ul>