<span><%= image_tag("http://i.imgur.com/iA922hO.jpg") %></span>
<h2>About Us</h2>
<p>I created this site to be able to help vehicle owners keep track of their maintenace records for their vehicle. We hope it will help the owner appreciate their vehicle a little more and take better care of it.</p>