<ul class="list-vehicle">
  <% @vehicles.each do |vehicle| %>
  	<li> 
      <button>
        <%= link_to "#{vehicle.vehicle_model_year}" + " #{vehicle.vehicle_make}" + " #{vehicle.vehicle_model}", vehicle_path(vehicle) %>
      </button>
  	</li>
  <% end %>
</ul>

