#maint-header {
  padding: 0.2em;
  font-size: 2em;
}

.maintenance {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  font-size: 1.6em;
  text-align: left;
  
  select, [type="submit"] {
    font-size: 2em;
  }
}

.field-container {
  width: 60%;
  margin: auto;

  .field {
    float: left;    
    width: 100%;
    text-align: center;
    margin-top: 1em;
    select {
      font-size: 1.4em;
    }

    label {
      font-size: 1.6em;
      font-family: Rockwell Extra Bold;
    }
  }

  input {
    font-size: 2em;
  }
  [type="submit"] {
    font-size: 1em;
  }
}

.submit-field {
  clear: both;
  margin: auto;
  text-align: center;
  input {
    margin-top: 1em;
  }
}