$main-font: Rockwell Extra Bold;

body {
  height: 100%;
  width: 100%;
}

h1, h2 {
  font-size: 3em;
  text-align: center;
  font-family: $main-font;
  font-size: 3em;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

h2 {
  font-size: 1.3em;
}

#home-image img {
  display: block;
  margin: auto;
}

//  a {
//   text-decoration: none;
// }

// .vehicle {
//   font-size: 20px;
//   font-weight: bold;
//   list-style: none;
//   margin-top: 10px
// }
// .vehicle a {
//   color: blue;
//   font-size: 15px
// }

// .vehicle a:hover {
//   font-size: 20px;
//   color: red
// }

// .delete_link {
//   text-align: right;
//   font-size: 20px;
//   font-weight: bold;
// }
// .delete_link a {
//   color: red;
// }
// .delete_link a:hover {
//   color: orange;
//   font-family: Rockwell Extra Bold;
// }
// .back_link {
//   font-size: 20px;
//   font-weight: bold;
// }
// .back_link a {
//   color: blue;
// }
// .back_link a:hover {
//   background: black;
//   color: white;
//   font-size: 22px;
// }

// .footer {
//    position:absolute;
//    bottom:0;
//    width:100%;
//    height:100;   /* Height of the footer */
//    background: white;
// }
// html,
// body {
//    margin:0;
//    padding:0;
//    height:50%;
// }
// #container {
//    min-height:100%;
//    position:relative;
// }
// #header {
//    background:#ffffff;
//    padding:10px;
// }
// #body {
//    padding:10px;
//    padding-bottom:60px;   /* Height of the footer */
// }
// #footer {
//    position:absolute;
//    bottom:-400px;
//    width:100%;
//    height:0px;   /* Height of the footer */
//    background:#ffffff;
//    font-family: arial black;
// }

// h4 {
//   text-align: center;
//   font-size: 40px;
//   font-family: Rockwell Extra Bold;
// }

// .credits {
//   text-align: center;
//   list-style: none;
//   font-family: Rockwell Extra Bold;
//   font-size: 25px
// }

// h2 {
//   font-family: Rockwell Extra Bold;
//   font-size: 35px
// }
// .future {
//   list-style: none;
//   font-family: Rockwell Extra Bold;
// }

// .future li {
//   margin-top: 10px;
// }
// #footer a {
//   color: blue;
// }
// #footer a:hover {
//   color: red
// }

