@media (max-width: 1275px) {
  .menu {
    & > #site-name {
      font-size: 2.8em;
    }
    & > ul {
      font-size: 1.8em;
      padding: 0.2em 0.5em;
    }
  }
}

@media (max-width: 1150px) {
  .menu {
    & > ul {
      font-size: 1.5em;
      padding: 0.4em 0.5em;
    }
  }
}

@media (max-width: 970px) {
  .menu {
    & > #site-name {
      font-size: 2.4em;
      padding-top: 0.3em;
    }
    & > ul {
      font-size: 1.2em;
      padding: 0.8em 0.5em;
    }
  }
}

@media (max-width: 850px) {
  .menu {
    & > #site-name {
      font-size: 2.4em;
      padding-top: 0.3em;
    }
    & > ul {
      display: none;
    }
    #hamburger-icon {
      color: white;
      display: inline;
      float: right;
      background: green;
      border: none;
      font-size: 3em;
      padding-right: 0.5em;
    }
    .menu-ul-js {
      display: block;
      border: 0.2em solid black;
      background: green;
      clear: both;
      right: 0;
      top: 4em;
      width: 35%;
      height: 16.5em;
      position:fixed;
      li {
        clear: both;
        float: left;
        font-size: 1.4em;
      }
    }
  }
}

@media (max-width: 500px) {
  .vehicle-show > li {
    font-size: 0.6em;
  }
  .vehicle-show > button > a {
    font-size: 1.5em;
  }
}

@media (max-width: 400px) {
  .menu {
    #site-name {
      padding-top: 0.7em;
      font-size: 1.8em;
    }
    & > .menu-ul-js {
      width: 45%;
      height: 17em;
    }
    li {
      clear: both;
      float: left;
      font-size: 1.2em;
    }
  }
  #maint-header {
    padding: 0.2em;
    font-size: 1.4em;
  }

  .maintenance {
    width: 90%;
    font-size: 1.6em;
  }
}

@media (max-width: 300px) {
  .menu {
    #site-name {
      padding-top: 1em;
      font-size: 1.4em;
    }
    & > .menu-ul-js {
      width: 50%;
      height: 17.5em;
    }
  }
  #slogan {
    position: absolute;
    top: 3em;
    width: 69%;
    font-size: 1em;
  }
}