$main-font: Rockwell Extra Bold;

.menu {
  width: 100%;
  background: green;
  height: 5em;

  #hamburger-icon {
    display: none;
  }

  #site-name, {
    margin: 0; 
    padding: 0;
    font-size: 3em;
    font-family: $main-font;
    float: left;
    a {
      text-decoration: none;
      color: black;
      transition: 1s;
      &:hover {
        color: white;
      }
    }
  }

  ul {
    float: right;
    width: 60%;
    height: 2.5em;
    font-size: 2em;

    li {
      float: right;
      list-style-type: none;
      padding: 0.6em 0.5em;

      a {
        text-decoration: none;
        color: white;
        transition: 1s;
        &:hover {
          color: black;
        }
      }
    }
  }
}

#slogan {
  position: absolute;
  top: 3em;
  font-size: 1.2em;
}